<!-- Config file for the game -->

<config>
  <app framerate_cap="">
    <title>Pathfinding Test</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
    <camera speed="500" offset_x="30" offset_y="30" limit_x="-2816" limit_y="-3072"/>
  </renderer>

  <font>
    <default_font file="fonts/open_sans/OpenSans-Regular.ttf" size="12"/>
  </font>

  <gui>
    <atlas file="gui/atlas.png"/>
  </gui>
    
  <window>
    <resolution width="640" height="480" scale="1"/>
    <fullscreen value="true"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
    <path>game_data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

</config>